p{
    text-align: justify;
    justify-content: center;
    margin-top: 12px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 50px;
    text-justify: auto;
    margin-left: 40px;
    margin-right: 40px;
}

/* Tablet styles */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    p {
        font-size: 28px;
        margin-left: 30px;
        margin-right: 30px;
        text-indent: 40px;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    p {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-indent: 30px;
        line-height: 1.6;
    }
}

/* Small mobile styles */
@media screen and (max-width: 480px) {
    p {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
        text-indent: 20px;
        line-height: 1.5;
    }
}